- title "Browse by district"
%h1 Browse meetings by district
%hr
- @calendars.each do |calendar|
  .span2
    %h4
      %a{:href => "/district/#{calendar.id}"} District #{calendar.id}
      %br
      %small #{pluralize(calendar.upcoming_event_count, 'event')}