- title "About"
.row-fluid
  .span3
    .well
      %h3 Sections
      %ul
        %li
          %a{:href => "#what-is-this"} What is this?
        %li
          %a{:href => "#what-are-caps-meetings"} What are CAPS Meetings?
        %li
          %a{:href => "#why-did-you-build-this"} Why did you build this?
        %li
          %a{:href => "#team"} Team and credits
        %li
          %a{:href => "#data"} Data
        %li
          %a{:href => "#code"} Code
        %li
          %a{:href => "#contact-us"} Contact us

  .span9
    %h1 About
    %h4#what-is-this What is this?

    %p
      CAPSure lets you find out <strong>when</strong> and <strong>where</strong> your next CAPS meeting is, in an effort to get more Chicagoans involved in community policing and make our city safer.
    
    %hr
    %h4#what-are-caps-meetings What are CAPS Meetings?

    %p 
      Chicago Alternative Policing Strategy Meetings, or <a href='https://portal.chicagopolice.org/portal/page/portal/ClearPath/Get%20Involved/How%20CAPS%20works/Beat%20Meetings'>CAPS Meetings</a>, are ongoing sit-down between the <a href='http://www.cityofchicago.org/city/en/depts/cpd.html'>Chicago Police Department</a> and Chicago residents. 
    %p 
      CAPS meetings are the place to meet the cops that patrol your block, chat about local problems, and work together to fix them. They're held in every one of Chicago's 285 police beats - the local areas that most cops actually work in.
    %p 
      By the late 1980's, Chicago policing had become increasingly isolated from local communities. Former Mayor Richard M. Daley pioneered CAPS meetings in 1993 as an attempt to restore communication between the CPD and local  communities. The theory was that chronic neighborhood problems are best address through community problem-solving.
    %p 
      In the wake of last summer's homicide spike, Mayor Rahm Emanuel has been trying to [renew community policing](http://www.npr.org/2013/01/08/168898516/chicago-looks-to-community-policing-to-reduce-violent-crime) across the city.
    
    %hr
    %h4#why-did-you-build-this Why did you build this?

    %p
      CAPSure is a demonstration of the power of open data. The Chicago Police Department recently released the <a href='http://api1.chicagopolice.org/clearpath/'>ClearPath API</a>, which makes information about Chicago's CAPS meetings available in a machine readable format to anyone.
    %p 
      This data allowed us to make a community meetings calendar app in a couple of days, and we're one small step further to getting more Chicagoans engaged in their local community.

    %hr
    %h4#team Team and credits
    %p
      This is an
      %a{:href => 'http://opencityapps.org'} Open City
      project done as a volunteer effort. We built CAPSure because we think more Chicagoans (including ourselves) should be involved in their local communities.

    %p
      The team is:

    %ul
      %li
        %a{:href => "http://derekeder.com"} Derek Eder
        \- developer and designer
      %li
        %a{:href => "https://mapmeld.com"} Nick Doiron
        \- developer
      %li
        Forest Gregg
        \- advisor
      %li
        Aya O'Connor
        \- advisor

    %hr
    %h4#data Data

    %p
      CAPSure was built with <a href='http://api1.chicagopolice.org/clearpath/api/1.0/communityCalendar'>calendar</a> and <a href='http://api1.chicagopolice.org/clearpath/api/1.0/communityCalendar/events'>event</a> data from the Chicago Police Department
      = succeed '.' do
        %a{:href => 'http://api1.chicagopolice.org/clearpath/'} ClearPath API

    %p 
      The District and Beat boundary data is stored in Google Fusion Tables and are open for anyone to use:

    %ul
      %li
        %a{:href => 'https://www.google.com/fusiontables/DataSource?docid=1fYRn1iHFY65w6QAEzBoPnw-SHtwvgWO2zeyCrkU'} Police District Boundaries
      %li
        %a{:href => 'https://www.google.com/fusiontables/DataSource?docid=1GXIIvWOaM_YDdY8GHeK0Vo-4nrceGnmhZtHLDFs'} Police Beat Boundaries

    %hr
    %h4#code Code
    %p
      All the code for this site is open source. It was built with Ruby on Rails, Haml, Twiiter Bootstrap, Javascript and Google's Fusion Tables and Maps API. The District and Beat boundary data is stored in Fusion Tables and was pulled from the
      = succeed "." do
        %a{:href => "http://data.cityofchicago.org/"} City of Chicago Data Portal
    %p Technologies used:
    %ul
      %li
        %a{:href => "http://rubyonrails.org/"} Ruby on Rails
      %li
        %a{:href => "http://haml.info"} Haml
      %li
        %a{:href => "http://www.heroku.com"} Heroku
      %li
        %a{:href => "http://twitter.github.com/bootstrap"} Twitter Bootstrap
      %li
        %a{:href => "http://jquery.com"} jQuery
      %li
        %a{:href => "http://code.google.com/apis/maps/documentation/javascript/"} Google Maps API V3
      %li
        %a{:href => "http://www.google.com/fusiontables"} Google Fusion Tables
    %p
      All the code for this project is up on
      = succeed "." do
        %a{:href => "https://github.com/open-city/capsure"} Github

    %hr
    %h4#contact-us Contact us

    %p
      Found a bug? 
      %a{:href => 'https://github.com/open-city/capsure/issues?state=open'} Report it on our issue tracker!

    %p
      Have a suggestion? Contact us at 
      %a{:href => 'mailto:info@opencityapps.org'} info@opencityapps.org
