.row-fluid
  .span8.offset2
    .well
      %h3 Find your next <a href='/about#what-are-caps-meetings'>CAPS meeting</a>. Then, go to it.

      .form-horizontal#home-search
        %input.input-xlarge.span8#address{:type => "text", :placeholder => "Where do you live?"}
        %a.btn.btn-primary.btn-large#search{ :href => '#'} Search
      %p
        or
        %a{:href => '/browse'} browse all meetings &raquo;

    %p 
      <strong>Chicago Alternative Policing Strategy meetings</strong>, or <a href='https://portal.chicagopolice.org/portal/page/portal/ClearPath/Get%20Involved/How%20CAPS%20works/Beat%20Meetings'>CAPS meetings</a> are the place to meet the cops that work in your beat, chat about local problems, and work together to fix them.
    %p
      CAPSure lets you find out <strong>when</strong> and <strong>where</strong> your next meeting is, in an effort to get more Chicagoans involved in community policing.
      %a(href='/about') Read more &raquo;

- content_for :javascripts do

  :javascript
    $('#search').click(function(){
      MapsLibCapsure.getBeatAndDistrict();
    });

    $("#address").keydown(function(e){
        var key =  e.keyCode ? e.keyCode : e.which;
        if(key == 13) {
            $('#search').click();
            return false;
        }
    });
